{{- if .Values.db.enabled -}}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "supabase.db.fullname" . }}-migrations
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
data:
{{- range $path, $_ := .Files.Glob "migrations/*.sql" }}
  {{ base $path }}: |
{{ $.Files.Get $path | indent 4 }}
{{- end }}
{{- if .Values.db.config }}
{{- toYaml .Values.db.config | nindent 2 }}
{{- end }}
{{- end }}