apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: {{ .Release.Name }}-rest
  name: {{ .Release.Name }}-rest
spec:
  ports:
    - name: "3000"
      port: 3000
      targetPort: 3000
  selector:
    io.kompose.service: {{ .Release.Name }}-rest
status:
  loadBalancer: {}
